/* .game-frame {
    background-color: #f9fafb;
    width: 440px;
    height: 500px;
    border-radius: 5px;
    text-align: center;
    position: relative; 
} */

.game-frame-outer {
    background-color: #f9fafb;
    max-width: 440px;
    width: 80%;
    
    border-radius: 5px;
    text-align: center;
    position: relative; 
}

.game-frame-outer:after {
    content: "";
    display: block;
    padding-bottom: 113.64%;
}

.game-frame-inner {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* width: 400px;
height: 400px; */
.game-background {
    background-image: linear-gradient(to bottom right, #06cabb, #a67fcc);
    box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.59);
    border-radius: 10px;
    margin: auto;

    width: 90.91%;
    height: 80%;
    position: relative;
    /* padding: 10px 5px; */
}

/* .card-container {
    padding: 0;
    margin: 10px auto;
} */

.cards-container {
    position: absolute;
    top: 2.5%;
    left: 1.25%;
    width: 97.5%;
    height: 95%;
}

.cards-row {
    display: flex;
    width: 100%;
    height: 25%;
    align-items: center;
}

.card-container {
    width: 25%;
    height: 78.947%;
}