.game-frame {
    background-color: #f9fafb;
    width: 440px;
    height: 500px;
    text-align: center;
    position: relative;
}

.game-background {
    background-image: linear-gradient(to bottom right, #06cabb, #a67fcc);
    box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.59);
    border-radius: 10px;
    margin: auto;

    width: 400px;
    height: 400px;
    padding: 10px 5px;
}

.card-container {
    padding: 0;
    margin: 10px auto;
}