<div class="row justify-content-center">
  <div class="game-frame">
    <h4>Matching Game</h4>
    <p>Some description...</p>
    <div class="game-background">
      <div class="container-fluid">
        <div class="row">
          <div class="col-3 card-container">
              <app-game-card></app-game-card>
          </div>
          <div class="col-3 card-container">
              <app-game-card></app-game-card>
          </div>
          <div class="col-3 card-container">
              <app-game-card></app-game-card>
          </div>
          <div class="col-3 card-container">
              <app-game-card></app-game-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
