<div class="dull">
  <a class="title" [routerLink]="potato.path">
    <fa-icon [icon]="categoryIcons[potato.category]"></fa-icon> 
    {{ potato.name }} 
    <span *ngIf="potato.status!=='Release'">[{{ potato.status }}]</span>
    &nbsp;
    <fa-icon *ngIf="potato.access==='Private'" [icon]="['fas', 'user-lock']"></fa-icon>
  </a>
  <div class="row desc">
    <div class="col-md-3 col-sm-6">
      <fa-icon [icon]="[potato.rating > i? 'fas': 'far', 'star']" *ngFor="let i of [0,1,2,3,4]"></fa-icon>
    </div>
    <div class="col-md-3 col-sm-6">
      {{ potato.viewCount | pluralize: 'view': 'views'}}
    </div>
    <div class="col-md-3 col-sm-6">
      {{ potato.creator }} | {{ potato.client }}
    </div>
    <div class="col-md-3 col-sm-6">
      {{ potato.date | date: 'mediumDate'}}
    </div>
  </div>
  <br>
  <p>
    {{ potato.description }}
  </p>
</div>
<hr>
