<div class="container-fluid filter-container py-2">
  <form>
    <div class="form-group row">
      <div class="col-md-12">
        <input class="form-control form-control-sm" type="text">
      </div>
    </div>
    <hr>
    <div class="form-group row">
      <label class="col-md-5 col-form-label" for="sortBy">Sort by:</label>
      <div class="col-md-7">
        <select class="form-control form-control-sm" id="sortBy">
          <option>Date</option>
          <option>View count</option>
          <option>Rating</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-5 col-form-label" for="sortBy">Category:</label>
      <div class="col-md-7">
        <select class="form-control form-control-sm" id="sortBy">
          <option>All</option>
          <option>Games</option>
          <option>Utilities</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-5 col-form-label" for="sortBy">Status:</label>
      <div class="col-md-7">
        <select class="form-control form-control-sm" id="sortBy">
          <option>Release</option>
          <option>Beta</option>
          <option>Alpha</option>
          <option>Pre-alpha</option>
          <option>All</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-5 col-form-label" for="sortBy">Access:</label>
      <div class="col-md-7">
        <select class="form-control form-control-sm" id="sortBy">
          <option>Public</option>
          <option>Private</option>
          <option>My Projects</option>
          <option>All</option>
        </select>
      </div>
    </div>
  </form>
</div>
