h5 {
  font-size: 1.25em;
}

#overlay {
  position: absolute; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.popup {
  position: absolute;
  top: 40%;
  left: 25%;
  margin: 0;
  /* border-radius: 4px; */
  border-radius: 1.818%/5.555%;
  background-color: #f9fafb;
  width: 50%;
  height: 14.4%;
  cursor: pointer;
}