.settings-bar {
  color: white;
  font-size: 1.25rem;
}

.settings-component {
  cursor: pointer;
}

.settings-component:hover {
  color: #989695;
}

.settings-hidden {
  visibility: hidden;
}

.settings-bar:hover .settings-hidden {
  visibility: visible;
}