/* You can add global styles to this file, and also import other style files */
body {
  background-color: #312e2b;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(69, 70, 72), rgba(255, 255, 255, 0));
}


/* Change font styles */
.dull {
  color: rgba(255, 255, 255, 0.5);
}

.white {
  color: white;
}

/* Prevent selection of text */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}